body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(245, 250, 250);
  width: 1200px;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: row-reverse;
  margin: 20px;
}

.main_content {
  padding: 45px;
  background: white; 
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  padding: 105px 90px; 
}

.about {
  margin-bottom: 40px;
}

.about_position {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 20px;
}

.about_name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin-bottom: 25px;
}


.about_description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959; 
  width: 500px;
}

.projects {
  margin-bottom: 50px;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}

.projects_list {
  padding: 0;
  margin-left: 15px ;
}

.projects_item, .project_bracket{
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;   
}
.project, .project_link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.project_link {
  margin-left: 10px;
}

.work_position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
}

.organization {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FB6D3A;
}

.period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #A8A8A8;
  margin-bottom: 10px;
}

.line {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.work_list {
  padding: 0;
  margin-left: 15px;
}

.work_list_item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.mine_education {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FB6D3A;
  margin-bottom: 10px;
}

.speciality {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px; 
  color: #000000;
}

.sidebar {
  background-color: #1E2939;
  padding-top: 40px;
  width: 370px;
}

img {
 width: 370px;
 margin-bottom: 50px;
}

.contacts {
  margin-bottom: 50px;
}

.sidebar_title {
  color: #FFFFFF;
  margin-left: 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}

.contact_type {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-left: 40px;  
}

.contact_link{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #565e6a;
  opacity: 0.5;  
}

.tech_skills_text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  margin-right: 10px;
}

.tech_skills_item {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #FB6D3A;
  margin-left: 20px;
}

.tech_skills {
  margin-bottom: 45px;
}

.soft_skills_text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  margin-right: 10px;
}

.soft_skills_item {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #FB6D3A;
  margin-left: 20px;
}
